<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/taskManager.css">
</head>
<body class="app">
    <div class="app">
        <main class="project">
            <div class="title-container">
                <h1>Welcome to Task Manager</h1>
            </div>
            <div class="button-group home-button-group">
                <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
                <a href="/newTask" class="btn btn-secondary">Create New Task</a>
                <a href="/inbox" class="btn btn-secondary">View Inbox</a>
            </div>
        </main>
    </div>
</body>
</html>