<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="/css/taskManager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/js/taskManager.js" defer></script>
</head>
<body class="app">
    <div class="app">
        <main class="project">
            <div class="title-container">
                <h1>Task Inbox</h1>
            </div>
            <div class="project-tasks">
                <div class="task-container">
                    <section class="task-list">
                        <h2 class="project-column-heading__title">Pending Tasks</h2>
                        <br>
                        <ul>
                            <li>
                                <div class="inbox-task">
                                    <span class="task-title">Task 1</span>
                                    <div class="task-buttons">
                                        <button class="btn btn-complete">
                                            <i class="fas fa-check"></i>Accept
                                        </button>
                                        <button class="btn btn-delete">
                                            <i class="fas fa-times"></i>Decline
                                        </button>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inbox-task">
                                    <span class="task-title">Task 2</span>
                                    <div class="task-buttons">
                                        <button class="btn btn-complete">
                                            <i class="fas fa-check"></i>Accept
                                        </button>
                                        <button class="btn btn-delete">
                                            <i class="fas fa-times"></i>Decline
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
</html>