<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>📋 New Task | TaskManager</title>
    <link rel="stylesheet" href="/css/taskManager.css">
    <script src="/js/taskManager.js" defer></script>
</head>
<body class="app">
    <div class="app">
        <main class="project">
            <div class="title-container">
                <h1>Create a New Task</h1>
            </div>
			<div class="auth-container">
			        <h2>New Task</h2>
			        <form method="post" action="/newTask">
			            <input type="title" name="title" placeholder="Title" required />
			            <input type="description" name="description" placeholder="Description" required />
						<input type="date" id="taskDueDate" name="dueDate" required>

			            <button type="submit">Save</button>
						<a href="/" class="btn btn-secondary">Cancel</a>
			        </form>
			        <p th:text="${error}"></p>
			        <p th:text="${success}"></p>
			    </div>


            </div>
        </main>
    </div>
</body>
</html>